<div>
    <div class="titre_nom">
        <span class="id">Time Chrono : </span>
        <button class="nom">1min</button>
        <button class="nom">2min</button>
        <button class="nom">3min</button>
    </div>
    <div class="relative">
        <div class="texte"
            style="background:linear-gradient(to bottom right, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8))"
            #texte>
            <div *ngFor=" let word of ArcadeTable" class="mot">
                <span *ngFor="let letter of word" class="lettre">{{letter}}</span>
                <span class="lettre">&nbsp;&nbsp;</span>
            </div>
            <!-- <input type="text" autofocus *ngIf="!recommencer" class="input" (input)="typing()" id="input"
                [(ngModel)]="entered" name="entered" autocomplete="off" autocapitalize="off" autocorrect="off">
            <div class="shippaiSeiko" *ngIf="i >= selectedCitation.text.split('').length">
                <div class="d-flex justify-content-center align-items-center">
                    <div><img src="../../assets/anya-smuh-spyxfamily.png" class="rounded-circle w-50" alt=""></div>
                    <p class="shippai" *ngIf="speed < 30">shippai</p>
                </div>
                <div>
                    <p class="seiko" *ngIf="speed >= 30">seiko</p>
                </div>
                <p class="rebeginP" *ngIf="recommencer"><button class="rebegin" (click)="restart()">Trop d'erreur,
                        veuillez
                        recommencer</button></p>
            </div> -->
            <!-- <div class="shippaiSeiko pausePlay" [ngClass]="{'opacity0':play, 'opacity5':!play}">
                    <span class="fa-solid" [ngClass]="{'fa-circle-pause':play, 'fa-circle-play':!play}"></span>
                </div> -->
        </div>
        <!-- <p class="rebeginP" *ngIf="recommencer"><button class="rebegin" (click)="restart()">Trop d'erreur, veuillez recommencer</button></p>
        <div class="scoreSuivant">
            <div class="score">
                <span>{{speed}}MPM</span>
                <span>{{precision}}%</span>
            </div>
            <div>
                <button class="suivant" (click)="service.prevCitation(); commencer()"><span class="fas fa-backward"></span></button>
            </div>
            <div>
                <button class="suivant" (click)=" commencer()"><span class="fas fa-redo"></span></button>
            </div>
            <div>
                <button class="suivant" (click)=" pause()"><span [ngClass]="{'fa-play': play, 'fa-pause': !play}" class="fa-solid"></span></button>
            </div>
            <div>
                <button class="suivant" (click)="service.nextCitation(); commencer()"><span class="fas fa-forward"></span></button>
            </div>
           
        </div>-->
    </div>
</div>