<h1>TESTEZ VOTRE VITESSE AVEC CES CITATIONS</h1>
<div class="lesSynopsis">
    <figure *ngFor="let citation of citations; let i = index">
        <div class="image" style="background-image: url({{citation.url}}); background-position: center; background-size: cover; background-repeat: no-repeat;">
            <figcaption>
                <button class="btn figcaption" (click)="this.service.getCitations(i)" routerLink="/citation-play">{{citation.animeName}}</button>
            </figcaption>
        </div>
    </figure>
</div>