<div *ngIf="service.selectedSynopsis">
    <div class="titre_nom">
        <span class="id">{{service.selectedSynopsis.id}}</span>
        <span class="nom">{{service.selectedSynopsis.anime}}</span>
    </div>
    <div class="relative">
        <div class="texte"
            style="background:linear-gradient(to bottom right, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)),url('{{service.selectedSynopsis.url}}')repeat fixed center;"
            #texte>
            <div *ngFor=" let word of service.words" class="mot">
                <span *ngFor="let letter of word" class="lettre">{{letter}}</span>
                <span class="lettre">&nbsp;&nbsp;</span>
            </div>
            <input type="text" autofocus class="input" *ngIf="!recommencer && seeInput" (input)="typing()" id="input"
                [(ngModel)]="entered" name="entered" autocomplete="off" autocapitalize="off" autocorrect="off">
                <div class="shippaiSeiko" *ngIf="i >= selectedSynopsis.texte.split('').length">
                    <div class="d-flex justify-content-center align-items-center flex-column" *ngIf="speed >= 30">
                        <img src="../../assets/pngegg (4).png" class="rounded-circle w-25" alt="">
                        <!-- <p class="shippai" *ngIf="speed < 30">shippai</p> -->
                        <div>
                            <p class="seiko">seiko</p>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center align-items-center flex-column" *ngIf="speed < 30">
                        <img src="../../assets/anya-smuh-spyxfamily.png" class="rounded-circle w-25" alt="">
                        <!-- <p class="shippai" *ngIf="speed < 30">shippai</p> -->
                        <div>
                            <p class="shippai">shippai</p>
                        </div>
                    </div>
                    <p class="rebeginP" *ngIf="recommencer"><button class="rebegin" (click)="restart()">Trop d'erreur, veuillez
                        recommencer</button></p>
                </div>
                <div class="shippaiSeiko pausePlay" [ngClass]="{'opacity0' : play, 'opacity5' : !play}">
                    <div [ngClass]="{'fa-circle-pause' : play, 'fa-circle-play':!play}" class="fa-solid"></div>
                    <p>Continuez à saisir pour reprendre</p>
                </div>
        </div>
        <div class="scoreSuivant">
            <div class="score">
                <span>{{speed}}MPM</span>
                <span>{{precision}}%</span>
            </div>
            <div>
                <button class="suivant" (click)="service.prevSynopsis(); commencer()"><span class="fas fa-backward"></span></button>
            </div>
            <div>
                <button class="suivant" (click)="commencer()"><span class="fas fa-redo"></span></button>
            </div>
            <div>
                <button class="suivant" (click)="pause()"><span [ngClass]="{'fa-play': play, 'fa-pause': !play}" class="fa-solid"></span></button>
            </div>
            <div>
                <button class="suivant" (click)="service.nextSynopsis();commencer()"><span class="fas fa-forward"></span></button>
            </div>
        </div> 
    </div>
</div>