<h1>TESTEZ VOTRE VITESSE AVEC CES SYNOPSIS</h1>
<div class="lesSynopsis">
    <figure *ngFor="let syn of synopsis; let i = index">
        <div class="image" style="background-image: url('{{syn.url}}'); background-position: center; background-size: cover;">
            <figcaption>
                <button class="btn figcaption" (click)="this.service.getSynopsis(i)"
                    routerLink="/synopsis-play" style="font-family: Bebas;">{{syn.anime}}</button>
            </figcaption>
        </div>
    </figure>
</div>