<div class="wrapper">
  <header>
    <nav>
      <div>
        <a class="logo" routerLink="/acceuil">Otaku type</a>
      </div>
      <ul class="navbar-nav">
        <li class="nav-item"><a routerLink="/acceuil" routerLinkActive="active">Accueil</a></li>
        <li class="nav-item"><a routerLink="/citations" routerLinkActive="active">Citations</a></li>
        <li class="nav-item"><a routerLink="/synopsis" routerLinkActive="active">Synopsis</a></li>
        <li class="nav-item"><a routerLink="/arcade" routerLinkActive="active">Arcade</a></li>
      </ul>
    </nav>
  </header>
  <router-outlet></router-outlet>
  <!-- <div class="flag"></div> -->
</div>
