/* Font face */

/* 
    fontface Google Sans
     */
     @font-face {
        font-family: "ProductSans";
        src: url("./assets/Google-sans/ProductSans-Thin.ttf") format("truetype");
        font-style: normal;
        font-weight: 100;
    }
    
    @font-face {
        font-family: "ProductSans";
        src: url("./assets/Google-sans/ProductSans-ThinItalic.ttf") format("truetype");
        font-style: italic;
        font-weight: 100;
    }
    
    
    @font-face {
        font-family: "ProductSans";
        src: url("./assets/Google-sans/ProductSans-Light.ttf") format("truetype");
        font-style: normal;
        font-weight: 300;
    }
    
    @font-face {
        font-family: "ProductSans";
        src: url("./assets/Google-sans/ProductSans-LightItalic.ttf") format("truetype");
        font-style: italic;
        font-weight: 300;
    }
    
    @font-face {
        font-family: "ProductSans";
        src: url("./assets/Google-sans/ProductSans-Regular.ttf") format("truetype");
        font-style: normal;
        font-weight: 400;
    }
    
    @font-face {
        font-family: "ProductSans";
        src: url("./assets/Google-sans/ProductSans-Medium.ttf") format("truetype");
        font-style: normal;
        font-weight: 500;
    }
    
    @font-face {
        font-family: "ProductSans";
        src: url("./assets/Google-sans/ProductSans-MediumItalic.ttf") format("truetype");
        font-style: italic;
        font-weight: 500;
    }
    
    
    @font-face {
        font-family: "ProductSans";
        src: url("./assets/Google-sans/ProductSans-Bold.ttf") format("truetype");
        font-style: normal;
        font-weight: 700;
    }
    
    @font-face {
        font-family: "ProductSans";
        src: url("./assets/Google-sans/ProductSans-BoldItalic.ttf") format("truetype");
        font-style: italic;
        font-weight: 700;
    }
    
    @font-face {
        font-family: "ProductSans";
        src: url("./assets/Google-sans/ProductSans-Black.ttf") format("truetype");
        font-style: normal;
        font-weight: 900;
    }
    
    @font-face {
        font-family: "ProductSans";
        src: url("./assets/Google-sans/ProductSans-BlackItalic.ttf") format("truetype");
        font-style: italic;
        font-weight: 900;
    }
    @font-face {
        font-family: "Bebas";
        src: url("./assets/bebas_neue/BebasNeue-Regular.woff2") format("woff2");
        font-style: italic;
        font-weight: 900;
    }
















body.body{
    font-family: ProductSans;
}


img{
    width: 100%;
}
.wrapper{
    color: #fff;
}
.mot{
    display: inline-block;
    font-size: 3rem;
    font-weight: 500;
}
.texte{
    background: rgba(255, 255, 255, 1);
    color: #1f4173;
    position: relative;
    width: 50%;
    margin-inline: auto;
    height: 500px;
    overflow: scroll;
    border: 1px solid #fff;
}
.texte::-webkit-scrollbar{
    display: none;
}
.score{
    background-color: #1f4173;
}
.texte img{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity:.3;
}