/* Font face */

/* 
    fontface Google Sans
     */
     @font-face {
        font-family: "ProductSans";
        src: url("./assets/Google-sans/ProductSans-Thin.ttf") format("truetype");
        font-style: normal;
        font-weight: 100;
    }
    
    @font-face {
        font-family: "ProductSans";
        src: url("./assets/Google-sans/ProductSans-ThinItalic.ttf") format("truetype");
        font-style: italic;
        font-weight: 100;
    }
    
    
    @font-face {
        font-family: "ProductSans";
        src: url("./assets/Google-sans/ProductSans-Light.ttf") format("truetype");
        font-style: normal;
        font-weight: 300;
    }
    
    @font-face {
        font-family: "ProductSans";
        src: url("./assets/Google-sans/ProductSans-LightItalic.ttf") format("truetype");
        font-style: italic;
        font-weight: 300;
    }
    
    @font-face {
        font-family: "ProductSans";
        src: url("./assets/Google-sans/ProductSans-Regular.ttf") format("truetype");
        font-style: normal;
        font-weight: 400;
    }
    
    @font-face {
        font-family: "ProductSans";
        src: url("./assets/Google-sans/ProductSans-Medium.ttf") format("truetype");
        font-style: normal;
        font-weight: 500;
    }
    
    @font-face {
        font-family: "ProductSans";
        src: url("./assets/Google-sans/ProductSans-MediumItalic.ttf") format("truetype");
        font-style: italic;
        font-weight: 500;
    }
    
    
    @font-face {
        font-family: "ProductSans";
        src: url("./assets/Google-sans/ProductSans-Bold.ttf") format("truetype");
        font-style: normal;
        font-weight: 700;
    }
    
    @font-face {
        font-family: "ProductSans";
        src: url("./assets/Google-sans/ProductSans-BoldItalic.ttf") format("truetype");
        font-style: italic;
        font-weight: 700;
    }
    
    @font-face {
        font-family: "ProductSans";
        src: url("./assets/Google-sans/ProductSans-Black.ttf") format("truetype");
        font-style: normal;
        font-weight: 900;
    }
    
    @font-face {
        font-family: "ProductSans";
        src: url("./assets/Google-sans/ProductSans-BlackItalic.ttf") format("truetype");
        font-style: italic;
        font-weight: 900;
    }
    @font-face {
        font-family: "Bebas";
        src: url("./assets/bebas_neue/BebasNeue-Regular.woff2") format("woff2");
        font-style: italic;
        font-weight: 900;
    }


body.body{
    font-family: ProductSans;
}


img{
    width: 100%;
}
.wrapper{
    color: #fff;
}
.mot{
    display: inline-block;
    font-size: 3rem;
    font-weight: 500;
}
.texte{
    color: #0732a3;
    overflow: scroll;
    height: 85%;
    border-bottom: 1px solid #fff;
    padding-inline:1rem;
    scroll-behavior: smooth;
}
.texte::-webkit-scrollbar{
    display: none;
}
span.lettre{
    text-align: center;
    /* outline:.4px solid rgba(255, 255, 255, 0.045); */
    margin-inline: 0.4px;
    /* padding: .5rem .2rem; */
    /* border-radius: 5px; */
    vertical-align: middle;
    /* margin-block: .5rem;  */
    height: 40px;
    font-size: 3rem;
    margin-inline: 0.5px;
    backdrop-filter: blur(.5);
}
.score{
    font-size: 3.5rem;
    text-transform: uppercase;
    display: flex;
    gap: 1rem;
}
.scoreSuivant{
    background-color: #5242c6;
    margin-inline: auto;
    display: flex;
    width: 100%;
    height: 15%;
    justify-content: space-between;
    align-items: center;
    padding-inline:1rem;
}
.suivant{
    color: #0732a3;
    background-color: #fff;
    border: 1px solid #fff;
    padding: .1rem .7rem;
    font-weight: 600;
    font-size: 1.5rem;
    border-radius: 50px;
    position: relative;
    z-index: 254;
}
.titre_nom{
    width: 60%;
    margin-inline: auto;
    margin-block: 1rem;
    font-size: 1.5rem;
}
.id{
    background-color: #fff;
    border: 1px solid #fff;
    color: #1f4175;
    margin-right: 10px;
}
.nom{
    border: 1px solid rgba(255, 255, 255, 0.253);
    font-weight: 600;
    padding-inline: 10px;
}
.lose{
    color: rgb(255, 255, 255);
    background-color: #fa0b0ba5;
}
.success{
    color: rgb(255, 255, 255);
    background-color: #0ab55bba;
}
.retry.success{
    color: rgb(255, 255, 255);
    background-color: #ffbb00c0;
}
.current{
    border-bottom:2px solid #1f4175;
}
#input{
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    opacity: 0;
}

.lesSynopsis{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    width: 60%;
    margin: auto;
    overflow-y: scroll;
    height: 32rem;
}
.lesSynopsis::-webkit-scrollbar{
    margin-left: 5px;
    width: 10px;
}
.lesSynopsis::-webkit-scrollbar-thumb{
    border-radius: 50px;
    height: 20px;
    background-color: rgba(255, 255, 255, 0.5);
}
h1{
    /* color:#0732a3; */
    /* background-color: #fff; */
    /* display: inline-block; */
    text-align: center;
    margin-inline: auto;
    margin-block: 3rem;
    width: fit-content;
    padding: .5rem 1rem;
}
figure{
    padding: 0;
    margin: 0;
}
.image{
    border: 1px solid #fff;
    border-top-left-radius:30px ;
    border-top-right-radius:30px ;
    height: 200px;
    overflow:hidden;
}
figcaption{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #191919c4;
    transition: all 0.5s;
    top: -100%;
}


.figcaption{
    color: #fff;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
}

figcaption button {
    display: block;
    width: 100%;
    height: 100%;
    color: #1515f5c4;
}


.mot:last-of-type>.lettre:last-of-type{
    display: none;
}
.relative{
    position: relative;
    border: 1px solid #fff;
    width: 50%;
    margin-inline: auto;
    height: 500px;
}

.shippaiSeiko{
    position: absolute;
    text-transform: uppercase;
    font-family: bebas;
    top: 0;
    left: 0;
    bottom: 15%;
    right: 0;
    font-size: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background:linear-gradient(to bottom right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
    z-index: 254;
}
.shippai{
    color: red;
    position: absolute;
    transition: all 0.7s;
}
.seiko{
    color: rgb(33, 230, 33);
    position: absolute;
    transition: all 0.7s;
}
.rebeginP{
    position: absolute;
    text-transform: uppercase;
    font-family: bebas;
    top: 0;
    left: 0;
    bottom: 12%;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background:linear-gradient(to bottom right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
}
.rebegin{
    color: white;
    z-index: 254;
    font-size: 2rem;
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
}